{
    "extends": "../.eslintrc",
    "globals": {
        "renderElement": true,
        "TestUtils": true,
        "describe": true,
        "context": true,
        "it": true,
        "before": true,
        "after": true,
        "beforeEach": true,
        "afterEach": true,
        "expect": true,
        "mount": true,
        "render": true,
        "shallow": true
    }
}
