div, body, html {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.App {

}

.RowExample {
    height: 150px;
}

.RowExample__Left {
    background: red;
    width: 100px;
    height: 100%;
}

.RowExample__Right {
    background: blue;
    height: 100%;
}
