div, body, html {
    margin: 0;
    padding: 0;
}

.App {
    // height: 100vh;
    // overflow: auto;
}

.RowExample {
    height: 150px;
}

.RowExample__Left {
    background: red;
    width: 100px;
    height: 100%;
}

.RowExample__Right {
    background: blue;
    height: 100%;
}


.odd {
    background: lightgray;
}
